.profile-div {
  margin-left: auto;
  margin-right: auto;
  width: 55vw;
  height: 40vh;
  min-height: 220px;
  min-width: 420px;
  background-color: #BFE8FF;
  border-radius: 20px;
  margin-top: 7%;
}
.introduce-div {
  margin-top: 5vh;
  margin-left: 2vw;
}
.profile-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;

  box-shadow: 3px 3px 3px 3px gray;
  border-radius: 20px; 
}
.img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin-bottom:3vh;
  margin-top: -1vh;
}
.card-div {
  display: flex;
  flex-direction : row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.profile-pic {
  width: 15vw;
  height: width;
  border-radius: 200px;
  object-fit: cover;
  display: block;
  margin: 0px auto;
}

.user-profile-pic {
  width: 15vw;
  height: width;
  border-radius: 200px;
  object-fit: cover;
  display: block;
  margin: 0px auto;
}
.my-project-div {
  margin-top : 5%;
}
.my-post-h {
  text-align: center;
  font-family: 'GmarketSansMedium';
}
.likes-heart {
  width: 45px;
  display: inline-block;
  position: relative;
  top: 15px;
}
.heart-box {
  display: inline;
}
.likes-count {
  display: inline-block;
  font-family: 'GmarketSansMedium';
}
.profile-p {
  font-family: 'GmarketSansMedium';
}

.cute-dog {
  width: 20%;
  height: 20%;
}
.dog-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 15px;
    font-family: 'GmarketSansMedium';
  }
}
.more-button {
  background-color: white;
  color: black;
  border: none;
  font-family: 'GmarketSansMedium';
  font-size: large;
  float: right;
  margin-right: 4%;
  margin-bottom: 2%;
}

.more-button:hover {
  cursor: pointer;
  color: #3396F4;
}