$sky-blue : #C3E2F9;

.main-div {
  display:flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}
.editor-div {
  margin-top : 3%;
  width: 40%;
}
.submit-button {
  margin-top: 10%;
}

.form-style {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.report-highlight {
  width: 440px;
  height: 76px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, $sky-blue 45%, transparent 45%);
}