nav {
  position: fixed;
  width: 100%;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  
  .home {
    text-decoration: none;
    color: black;
  }

  .login {
    margin-right: 2%;
  }

  .navbar-profile-image {
    width: 5%;
    height: 5%;
    img {
      width: 100%;
      height: 100%;
      // box-shadow: 0 0 0 1px;
      // border: 0.1px solid;
      border-radius: 70%;
      padding: 5px;
    }
  }

}
