$blue : #3396F4;

.option-btn {
  border: none;
  border-color: transparent;
  background-color: transparent;
  font-size: 2em;
  font-family: 'GmarketSansMedium';
}

.opinion-center {
  display:flex;
  justify-content: center;
  align-items: center;
}

.opinion-link {
  text-decoration: none;
  color: black;
}

.option-btn-on {
  color: $blue;
}
.back-project {
  position: absolute;
  margin-left: 10%;
  width: 15vw;
  margin-top: 4vh;
}
.back-project:hover {
  cursor: pointer;
}