$blue : #3396F4;

.survey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  width: 80%;
}

.btn-on {
  background-color: $blue;
}

.delete {
  width: 5%;
  height: 5%;
}