.main-div {
  width: 100%;
}
.input-div {
  width: 40%;
}
.p-style {
  margin-bottom: 1%;
}

.question-style {
  width: 99%;
  height: 3.5vh;
  min-height: 31.5px;
  border : 1px solid #ADADAD;
  border-radius: 5px;
}