.report-nav-div {
  display: flex;
  flex-direction: row;
}
.back-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.solve-div {
  display: flex;
  flex-direction: row;
  background-color: #C3E2F9;
  width: 50%;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  font-family: 'GmarketSansMedium';
}
.choose-div {
  display: flex;
  flex-direction: row;
}
.nav-div {
  width:40%;
}
.report-box-div {
  margin-left: auto;
  margin-right: auto;
  width:80%;
  height:60vh;
  min-height: 360px;
  border: 1px solid black;
  border-radius: 10px;

}
.report-box-bugbox {
  height: 52vh;
  min-height:295px;
  overflow: auto;
}
.report-box-bugbox::-webkit-scrollbar {
  width: 10px;
}
.report-box-bugbox::-webkit-scrollbar-thumb {
  background-color: #C3E2F9;
  border-radius: 10px;
}
.report-box-bugbox::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
.solve-h2 {
  color: #3396F4;
  text-align: center;
}
.undo-pic {
  width: 1vw;
  height: 2vh;
}
.write-pic {
  width: 30px;
  height: 30px;
}
.wirte-pic-div {
  margin-left: 88%;
  margin-bottom: 0.5%;
}

.black-item-div {
  background-color: rgba(244,248,249,0.72);
  display: flex;
  flex-direction: row;
}
.white-item-div {
  background-color: white;
  display: flex;
  flex-direction: row;
}
.bugbox-div {
  display: flex;
  flex-direction: row;
}
.report-menu-div {
  display: flex;
  flex-direction: row;
  background-color: #C3E2F9;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-family: 'GmarketSansMedium';
}
.menu-solved {
  width: 10%;
  display: flex;
  align-items: center;
  margin-left: 2%;

}
.menu-title {
  width: 50%;
  font-family: 'GmarketSansLight';
}
.menu-title2 {
  width: 50%;
}
.menu-title3 {
  width: 20%;
  font-family: 'GmarketSansMedium';
}

.menu-title:hover {
  color: #8fa4fa;
  font-weight: bold;
  transform: scale(1.1);
  margin-left:2%;
  cursor: pointer;
}
.menu-date {
  width: 20%;
  font-family: 'GmarketSansLight';
}
.menu-writer {
  width: 20%;
  font-family: 'GmarketSansLight';
}
input[type=checkbox] {
  transform: scale(1.3);
  justify-content: center;
  margin-left: 7%;
}