footer {
  bottom: 0%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.hr {
  width: 95%;
}
.title {
  margin-left: 50px;
  margin-top: -5px;
}
.content {
  margin-top: -20px;
  text-align: center;
}
.image {
  margin-right: 50px;
  margin-top: 5px;
  display: inline-block;
}
.notion {
  width: 30px;
  margin: 5px;
}
.git {
  width: 30px;
}