.post-question-style {
  width: 97.3%;
  height: 3.5vh;
  min-height: 31.5px;
  border : 1px solid #ADADAD;
  border-radius: 5px;
  padding-left: 2%;
  margin-top: 2%;
}
.question-style::placeholder {
  color: #ADADAD;
}

.pp-search-indi-all-div {
  border : 1px solid #ADADAD;
  border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 0.5%;
  max-height: 15vh;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.pp-search-indi-div:hover {
  background-color: #c4c4c4;
  cursor: pointer;
}

.readme-div {
  width: 40%;
  height: 100%;
  margin-top: 0;
}

.select-placeholder {
  color: #c4c4c4;
}
